<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Model -->
  <arg name="model" default="$(find gara_simulation)/urdf/gara.xacro"/>

	<!-- World parameters -->		
  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

	<!-- Rviz configuration -->
  <arg name="rvizconfig" default="$(find gara_simulation)/rviz/gara.rviz" />

  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  
  <!-- Launch Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="world_name" value="$(find gara_simulation)/worlds/gtc.world"/>
  	<arg name="paused" value="$(arg paused)"/>
  	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
  	<arg name="gui" value="$(arg gui)"/>
  	<arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model gara" />

	<!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
 		<param name="use_gui" value="false"/>
    <remap from="robot_description" to="/robot_description"/>
  </node>

  <!-- Robot state Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!--RVIZ launch-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>
