<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="model" default="$(find gara_simulation)/urdf/gara.xacro"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find gara_simulation)/config/my_robot_control.yaml"
            command="load"/>

  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner" 
        respawn="false"
        output="screen"
        ns="/gara" 
        args="joint_state_controller rightWheel_effort_controller leftWheel_effort_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    
    <param name="robot_description" 
          command="$(find xacro)/xacro  $(arg model)" />
          <remap from="/joint_states" to="/gara/joint_states" />
    
  </node>



  <!-- 
		Converts the xacro robot information to UDRF and use it as a robot_description parameter
	-->

  <!--
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="false"/>    
  </node>
  -->
</launch>
