<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Model -->
  <arg name="model" default="$(find gara_simulation)/urdf/gara.xacro"/>

  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="rvizconfig" default="$(find gara_simulation)/config/gara.rviz" />

  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <!-- Launch Gazebo world -->
  <include file="$(find gara_simulation)/launch/empty_world.launch">
  	<arg name="world_name" value="$(find gara_simulation)/worlds/gtc.world"/>
  	<arg name="paused" value="$(arg paused)"/>
  	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
  	<arg name="gui" value="$(arg gui)"/>
  	<arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model gara" />

  <!--RVIZ launch-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <include file="$(find gara_simulation)/launch/gara_control.launch">
		<arg name="model" value="$(arg model)"/>
	</include>

  <include file="$(find gara_simulation)/launch/gara_localization.launch">
	</include>


</launch>
