<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gara_simulation)/urdf/gara.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="false"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
		<rosparam command="load" file="$(find gara_simulation)/config/ekf.yaml" />

			<param name="map_frame" value="map"/>
			<param name="odom_frame" value="gara/odom"/>
			<param name="base_link_frame" value="base_link"/>
			<param name="world_frame" value="gara/odom"/>

<!--
    You either remap on this node, the node that takes in the data, or both!
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
-->

	</node>


</launch>
